venv/
venvTorch/

.ipynb_checkpoints/
Images/
Images_Processed/
keras_checkpoints/
label exports/
Masks/
exports_seeds/
wandb/
lightning_logs/
best_model*
artifacts/
tmp/
*__pycache__*
Delete_Later/
Segformer_and_MTL_Segformer/
Riverside-runs/
RiversideFrtInterior/
Cross-valid/